button {
  display: inline;
  padding: 15px 14px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #71C1BD;
  border: none;
  border-radius: 0px;
  /*box-shadow: 0 9px #999;*/
}
